<div class="container" fxLayout="column">
  <div class="title" fxLayoutAlign="center center">
    {{type}}
    <span class="subtitle"> ({{totalSocialPostsProcessed}} Posts)</span>
  </div>
  <div class="chart" fxLayout="row">

    <div class="values">
      <div *ngFor="let day of weekdayArray" fxLayout="row"
        fxLayoutAlign="start center" class="day-row" fxLayoutGap="5px">
        <div class="day-name" fxLayoutAlign="center end">{{day.dayName[0]}}
        </div>
        <div *ngFor="let hour of day.hours" class="day-value"
          fxLayoutAlign="center center"
          (mouseenter)="hour.length > 0 ? hour.showHover = true : hour.showHover = false"
          (mouseleave)="hour.showHover = false">
          <div class="punch-circle" [ngStyle]="getCircleSize(hour)">
          </div>
          <div class="hover-data" *ngIf="hour.showHover">
            {{hoverDetails(hour)}}
          </div>
        </div>
      </div>
      <div fxLayout="row" style="height: 50px;">
        <div fxFlex="30px"></div>
        <div class="legend-hour" *ngFor="let key of hoursLabels">
          <div class="float-label">{{key}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
