html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(~/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

$upfluence-blue: #0d0ee6;
$upfluence-orange: #ff4331;
$upfluence-grey: #f4f5ff;

@font-face {
  font-family: "eesti";
  font-style: normal;
  src: url("~/assets/fonts/GTEestiProText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "eesti-bold";
  font-style: bold;
  src: url("~/assets/fonts/GTEestiProText-Bold.ttf") format("truetype");
}
